{include file="mobile/header" }

<!-- 公用头部 S -->
<header id="header" class="header">
    <a href="javascript:history.go(-1)" class="header-back jsBack">
        <svg class="icon icon-arrow-l"><title>返回</title><use xlink:href="#icon-arrow-l"></use></svg>
    </a>
    <h1 class="header-back-title">{present name="name"}全部{else /}{$type[$type_id]}{/present}</h1>
    <div class="header-operate">
        <a id="openSearchPopup" href="javascript:" class="icon icon-search" title="搜索">
            <svg><use xlink:href="#icon-search"></use></svg>
        </a>
        <a id="openGuide" href="javascript:" class="icon icon-more" title="更多" data-rel="guide"></a>
    </div>
</header>

{include file="mobile/more_navigation" /}

<div class="module module-merge">

    <!-- 筛选 -->
    <div class="search-filter">
        <div id="orders" class="module-filter-header sort-order-switcher category-detail-orders" style="">
            <a href="javascript:;" class="btn-tag active jsTag" data-value="0" role="tab" aria-selected="true">综合</a>
            <!--<a href="javascript:;" class="btn-tag jsTag" data-value="9" role="tab">字数</a><a href="javascript:;" class="btn-tag jsTag" data-value="17" role="tab">点击</a><a href="javascript:;" class="btn-tag jsTag" data-value="3" role="tab">时间</a>-->

            <!--<a href="#&amp;asideFilter" id="asideFilterTrigger" class="module-filter-icon" data-rel="asideFilter" role="button" aria-haspopup="true">-->
                <!--<svg class="icon icon-filter"><use xlink:href="#icon-filter"></use></svg>-->
                <!--<h3>筛选</h3>-->
            <!--</a>-->
        </div>
    </div>


    <!-- 分类推荐 -->

    <div id="cat-wrapper-0" class="jsRec">

    </div>

    <div id="cat-wrapper-9" class="jsRec">

    </div>

    <div id="cat-wrapper-17" class="jsRec">

    </div>

    <div id="cat-wrapper-3" class="jsRec">

    </div>





    <ol id="books-0" class="book-ol book-ol-normal jsBooks">

    {volist name="data" id="vo" }
        <li class="book-li">
            <a href="/book/5679360404591301" class="book-layout">
                <img src="__BOOKSIMG__/{$vo.books_img}" class="book-cover" >
                <div class="book-cell">
                    <div class="book-title-x">
                        <div class="book-title-r">


                        </div>
                        <h4 class="book-title">{$vo.books_name}</h4>
                    </div>
                    <p class="book-desc"> {$vo.books_synopsis} </p>
                    <div class="book-meta">
                        <div class="book-meta-l">
                                    <span class="book-author">
                                        <svg class="icon icon-human"><title>作者</title><use xlink:href="#icon-human"></use></svg>{$vo.books_author}
                                    </span>
                        </div>
                        <div class="book-meta-r">
                                    <span class="tag-small-group origin-right">
                                        <em class="tag-small lightgreen">{$type[$vo.books_type]}</em><em class="tag-small lightblue">{eq name="$vo.books_status" value="0"}连载中{else/}完结{/eq}</em>
                                        <em class="tag-small smallblue">{$vo.books_time}</em>
                                    </span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
{/volist}


    <div class="module-bar jsInfiniteScroll" data-scroller-rel="" id="infiniteScroller-0">正在加载中<dot>...</dot></div>

</div>

{include file="mobile/footer" }