
<!-- 更多内容的导航 S -->
<div id="guide" class="guide">
    <i id="guideOverlay" class="guide-overlay"></i>
    <div class="guide-content">
        <nav class="guide-nav">
            <a href="/" class="guide-nav-a">
                <i class="icon icon-home"></i>
                <h4 class="guide-nav-h">首页</h4>
            </a>
            <a href="{:url('/bibliotheca/mobileIndex')}" class="guide-nav-a">
                <i class="icon icon-sort"></i>
                <h4 class="guide-nav-h">分类</h4>
            </a>
            <a href="{:url('/rankinglist/index')}" class="guide-nav-a">
                <i class="icon icon-rank"></i>
                <h4 class="guide-nav-h">排行榜</h4>
            </a>
            <a href="{:url('/index/copyright')}" class="guide-nav-a">
                <i class="icon icon-fuli"></i>
                <h4 class="guide-nav-h">版权</h4>
            </a>
            <a href="javascript:" class="guide-nav-a ondo_mobile">
                <i class="icon icon-finishbook"></i>
                <h4 class="guide-nav-h">完本</h4>
            </a>
            <a href="{:url('/user/index')}" class="guide-nav-a ">
                <i class="icon icon-account"></i>
                <h4 class="guide-nav-h">账户</h4>
            </a>
        </nav>
        <div class="guide-footer">
            <a href="javascript:" class="btn-primary openshelf" data-size="14">我的书架</a>
        </div>
    </div>
</div>
<!-- 更多内容的导航 e -->