{include file="template/header" /}
{include file="template/headerCon" /}
<div class="apotheosizebn">
    <div class="shelftop">
        <h2>封神榜</h2>
    </div>
</div>
<div class="content">
    <div id="authobox" class="fsbleft fl">
        <ul lmk="apotheosizelist" lmv="封神榜列表页">

            <li class="fsbli clearfix">
                <em class="chan hide">1.</em>
                <img class="authorimg"  src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=3990397992,4259233994&fm=58&bpow=859&bpoh=900">
                <div class="authoinfo">
                    <div class="authort clearfix"><h3 class="fl">辰东</h3><span class="fl">网络知名作家</span></div>
                    <div class="ainfotext">
                        <p>代表作：《圣墟》、《完美世界》、《遮天》、《长生界》、《神墓》</p>
                        <p class="textzksq authotxt">著名网络写手，起点白金作者。崛起于网络文学青铜时代，在首届网文之王评选中位列五大至尊之一和十二主神之一，被书友称为坑神。三部作品《神墓》、《遮天》、《完美世界》都曾登顶百度小说风云榜，其中《神墓》、《完美世界》更长期占据第一，为作品登顶百度小说风云榜次数最多的网络写手之一，原著小说曾蝉联中国大型文学网“起点中文网”榜首数年，其作品相继被改编为网游和手游，实体书深受两岸三地读者喜爱与欢迎。<i></i></p>
                    </div>
                </div>
                <a  class="fsbcove" href="/cover/index/books_id/6294.html"><img  width="78" height="103" src="/static/images/books_img/1273s.jpg"></a>
            </li>

            <li class="fsbli clearfix">
                <em class="chan hide">2.</em>
                <img class="authorimg" alt="天蚕土豆" src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=3621705092,3282468938&fm=58&bpow=1279&bpoh=1920">
                <div class="authoinfo">
                    <div class="authort clearfix"><h3 class="fl">天蚕土豆</h3><span class="fl">网络知名作家</span></div>
                    <div class="ainfotext">
                        <p>代表作：《斗破苍穹》、《武动乾坤》、《魔兽剑圣异界纵横》、《大主宰》</p>
                        <p class="textzksq authotxt">天蚕土豆，本名李虎。1989年出生于四川，中国内地网络小说作家、85后著名作家、浙江省网络作家协会副主席。2008年4月，在起点中文网开始创作处女座《魔兽剑圣异界纵横》，5月，成为起点中文网签约作家之一。
                            2009年4月，创作长篇玄幻小说《斗破苍穹》，此书在起点中文网高达1亿4千多万的点击率，凭借此书的巨大人气，天蚕土豆一书成名，成为2009年起点中文网白金作家<i></i></p>
                    </div>
                </div>
                <a  class="fsbcove"  href="/cover/index/books_id/4227.html">
                    <img  width="78" height="103" src="/static/images/books_img/957s.jpg"></a>
            </li>

            <li class="fsbli clearfix">
                <em class="chan hide">3.</em>
                <img class="authorimg" alt="唐家三少" src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1582474333,1675382499&fm=58&bpow=754&bpoh=1130">
                <div class="authoinfo">
                    <div class="authort clearfix"><h3 class="fl">唐家三少</h3><span class="fl">网络知名作家</span></div>
                    <div class="ainfotext">
                        <p>代表作：《斗罗大陆》、《绝世唐门》、《神印王座》</p>
                        <p class="textzksq authotxt">唐家三少，本名张威。1981年1月10日生于北京，毕业于河北大学政法学院，网络小说作家，炫世唐门文化投资有限公司董事长。<i></i></p>
                    </div>
                </div>
                <a lmk="apotheosizelist-3"  urltrue="true" lmurl="#" class="fsbcove" title="《斗罗大陆II绝世唐门》" href="/cover/index/books_id/4526.html"><img  width="78" height="103" src="/static/images/books_img/31s.jpg"></a>
            </li>

            <li class="fsbli clearfix">
                <em class="chan hide">4.</em>
                <img class="authorimg"  src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=1934927501,4173438801&fm=58&bpow=1067&bpoh=1600">
                <div class="authoinfo">
                    <div class="authort clearfix"><h3 class="fl">耳根</h3><span class="fl">网络知名作家</span></div>
                    <div class="ainfotext">
                        <p>代表作：《仙逆》、《求魔》、《我欲封天》</p>
                        <p class="textzksq authotxt">起点中文网白金作家，喜爱中国古典神话故事，并以此为基础，进行网络小说的创作。作者现已成为起点仙侠类小说的一面旗帜。其主要代表作《仙逆》，受到无数读者的喜爱，为之倾倒，并长期占据起点仙侠类小说月票榜的前列。<i></i></p>
                    </div>
                </div>
                <a  class="fsbcove" href="/cover/index/books_id/6430.html">
                    <img width="78" height="103" src="/static/images/books_img/193s.jpg"></a>
            </li>

            <li class="fsbli clearfix">
                <em class="chan hide">5.</em>
                <img class="authorimg"  src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2018607619,2285284035&fm=58&bpow=291&bpoh=383">
                <div class="authoinfo">
                    <div class="authort clearfix"><h3 class="fl">梦入神机</h3><span class="fl">网络文学作者</span></div>
                    <div class="ainfotext">
                        <p>代表作：《佛本是道》、《黑山老妖》、《龙蛇演义》、《阳神》</p>
                        <p class="textzksq authotxt">职业写手，原名王钟，中国作家协会会员  ，浙江省网络作家协会副主席  ，原起点中文网白金作家，纵横中文网专栏作家和职员。在首届网文之王评选中位列五大至尊之一和十二主神之一。   在第二届网文之王评选中位列五大至尊之一。<i></i></p>
                    </div>
                </div>
                <a lmk="apotheosizelist-5" lmv="第5本书" urltrue="true" lmurl="#" class="fsbcove"  href="/cover/index/books_id/5837.html">
                    <img  width="78" height="103" src="/static/images/books_img/4673s.jpg"></a>
            </li>



        </ul>
    </div>
    <div class="fsbright fr">
        <div class="bianjibox">
            <h3>网文之王-天蚕土豆</h3>
            <ul>
                <li>《魔兽剑圣异界纵横》</li>
                <li>《斗破苍穹》</li>
                <li>《武动乾坤》</li>
                <li>《大主宰》</li>
                <li>《元尊》</li>

            </ul>
        </div>
        <div class="bianjibox">
            <h3>男频五大至尊</h3>
            <ul>
                <li>唐家三少：《斗罗大陆》</li>
                <li>辰东：《神墓》</li>
                <li>善良的蜜蜂：《修罗战神》</li>
                <li>耳根：《仙逆》</li>
                <li>梦入神机：《佛本是道》</li>

            </ul>
        </div>
        <div class="bianjibox">
            <h3>男频十二主神</h3>
            <ul>
                <li>我吃西红柿：《吞噬星空》</li>
                <li>忘语：《凡人修仙传》</li>
                <li>烽火戏诸侯：《雪中悍刀行》</li>
                <li>风青阳：《龙血战神》</li>
                <li>鱼人二代：《很纯很暧昧》</li>
                <li>风凌天下：《傲世九重天》</li>
                <li>月关：《云穹之龙王觉醒》</li>
                <li>了了一生：《天生神医》</li>
                <li>厌笔萧生：《帝霸》</li>
                <li>猫腻：《将夜》</li>
                <li>妖夜：《焚天之怒》</li>
                <li>爱潜水的乌贼：《一世之尊》</li>
            </ul>
        </div>

    </div>
</div>

{include file="template/footer" /}