{include file="template/header" /}
{include file="template/headerCon" /}
<div class="contetline">
    <div class="content">
        <div class="contbox">
            <h3>申请收录</h3>
                <p>我们的收录是完全免费的，所有小说网站站长都可以联系我们提交免费收录申请（无弹窗广告优先收录），只要您的网站符合以下收录原则，都可以联系我们：</p>
                <p>1.不收录有反动、色情、赌博等不良内容或提供不良内容链接的网站，以及网站名称或内容违反国家有关法规的网站</p>
                <p>2.不收录无实用内容的网站，如您的网站正在建设中，尚无完整内容，请不必现在登录，欢迎您在网站建设完成后再来登录</p>
                <p>3.不收录含有病毒、木马，弹出插件或恶意更改他人电脑设置的网站及有多个弹窗广告的网站</p>
                <p>4.对挂靠别人的网站下的网站 ( 即没有自己单独域名的网站 ) ，本站将不予收录</p>
                <p>5.不收录在正常情况下无法正常连接或浏览的网站</p>
                <p>6.本站保留收录决定权以及在本站网址数据库中相关内容的编辑决定权</p>
                <p>
                    如果您认为您符合上面的要求，请按照如下格式给我们邮箱发邮件申请1258598558@qq.com<br>
                </p>
                <div style="border:1px dashed #ccc;margin:15px 30px;padding:10px 20px;">
                    网站名称：<br>
                    网站地址：<br>
                    更新列表更新间隔：<br>
                    更新列表页地址：(如果您站点开启了缓存，请提供一个私密的没有缓存的更新列表页)<br>
                    小说信息页地址：(任意一本书)<br>
                    小说目录页地址：(任意一本书)<br>
                    小说章节页地址：(任意一本书)<br>
                </div>
                <p>请注意，如果您网站启用了防采集措施，请给我们提供一个私密的没有防采集及缓存的的地址，我们确保不会对外进行泄漏。<br>
                </p>
        </div>
    </div>
</div>
{include file="template/footer" /}