<div class="footer">
    <div class="footbox">

        <div class="footbox-info clearfix">
            <div class="left">
                <a href="{:url('/index/about')}">关于我们</a><i>|</i><a href="{:url('/index/privacy')}">隐私条款</a><i>|</i><a href="{:url('/index/employ')}">申请收录</a><i>|</i><a href="{:url('/index/copyright')}">版权声明</a>
            </div>
            <div class="right">{$module_data.copyright}</div>
        </div>
        <div class="footbox-info haveimg footbox-p clearfix" style="border-top: 1px solid #494949;">
            <div class="left">起点中文网&nbsp;&nbsp;&nbsp;言情小说吧</div>
            <div class="right">
                <a href="javascript:;" target="_blank"><img class="bottom_icon" src="__IMG__/bottom_icon.png" /></a>
                <a href="http://www.miitbeian.gov.cn" target="_blank">{$module_data.record}</a>
                <span>增值电信业务许可证&nbsp;&nbsp;&nbsp;&nbsp;{$module_data.record}</span>
                <span>网络文化经营许可证&nbsp;&nbsp;&nbsp;&nbsp;{$module_data.record}</span>
            </div>
        </div>

        <div class="footbox-info footbox-p clearfix" style="border-top: 1px solid #494949;">
            <div class="left" >为保证更好的浏览效果，请使用IE9以上或其他主流浏览器访问</div>
            <div class="right">
                <span>地址：中国（上海）自由贸易试验区碧波路690号6号楼101、201室</span>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：021-61870500</span>
            </div>
        </div>
    </div>
</div>


</body>

</html>