{include file="template/header" /}
{include file="template/headerCon" /}
<div class="contetline">
    <div class="content">
        <div class="contbox">
            <h3>隐私条款</h3>
                <p>尊重用户个人信息的私有性是{$module_data.name}的一贯制度，除法律或有法律赋予权限的政府部门要求或用户同意等原因外，{$module_data.name}未经用户同意不向除合作单位以外的第三方公开、 透露用户个人信息。 但是用户在注册时选择或同意，或用户与{$module_data.name}及合作单位之间就用户个人信息公开或使用另有约定的除外，同时用户应自行承担因此可能产生的任何风险，{$module_data.name}对此不予负责。同时为了运营和改善{$module_data.name}的技术和服务，我们将可能会使用或向第三方提供用户的非个人身份信息，这将有助于向用户提供更好的用户体验和提高我们的服务质量。</p>
                <p>cookies等技术的使用，本服可能会使用cookies，以便您能登录并使用我们的服务，并允许设定您特定的服务选项。运用cookies技术，我们能够为您提供更加周到的个性化服务。通过使用cookies所收集的任何内容均以集合的、匿名的方式进行。您可以选择接受或拒绝 cookies。您可以通过修改浏览器设置的方式拒绝cookies。如果您选择拒绝cookies，则您可能无法登录或使用依赖于cookies 的服务或功能。</p>
                <p>本服务需要用户共同享用、维护其所提供的利益，用户在此确认同意本服务在必要时使用您计算机的处理器和带宽等资源，用作容许其它本"软件"使用者与您通讯联络、分享本服务的有限目的。此项同意可能会影响用户的使用感受和带来不可预知的风险。您应认真考虑并做出选择，承担风险。用户同意本"软件"将会尽其合理努力以保护您的计算机资源及计算机通讯的隐私性和完整性，但是，您承认和同意{$module_data.name}不能就此事提供任何保证。</p>
                <p>保有您的使用记录，当您使用搜索的服务时，服务器会自动记录一些信息，包括URL、IP地址、浏览器的类型和使用的语言以及访问日期和时间等。</p>
                <p>{$module_data.name}尊重并保护所有使用您的个人身份信息，您注册的用户名、电子邮件地址等个人资料，但{$module_data.name}提醒您：您在使用搜索引擎时输入的关键字将不被认为是您的个人信息资料。</p>
                <p>在如下情况下，会遵照您的意愿或法律的规定披露您的个人信息，由此引发的问题将由您个人承担：</p>
                <p>（1）事先获得您的授权；</p>
                <p>（2）只有透露你的个人资料，才能提供你所要求的产品和服务；</p>
                <p>（3）根据有关的法律法规和按照相关政府主管部门的要求；</p>
                <p>（4）我们发现您违反了{$module_data.name}公司服务条款或任何其他产品服务的使用规定。</p>
                <p>（5）其他可合法披露您个人信息的情形。</p>
        </div>
    </div>
</div>
{include file="template/footer" /}