{include file="template/iframe_header" /}
<style>
    .layui-form-switch {
       margin-top: 8px;
        width: 60px;
    }
    .layui-form-switch em {
        width: 45px;
    }
    .layui-form-onswitch i {
        left: 50px;
    }
</style>
    <div class="x-body">

        <div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">
            <input type="hidden" id="L_action" name="action" value="edit" >
            <input type="hidden" name="article_id" value="{$data.article_id}">
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>文章标题</label>
                <div class="layui-input-block">
                    <input type="text" name="article_name" lay-verify="required" placeholder="请输入文章标题" autocomplete="off" class="layui-input" value="{$data.article_name}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>作者</label>
                <div class="layui-input-block">
                    <input type="text" name="article_author" lay-verify="required" placeholder="请输入作者" autocomplete="off" class="layui-input" value="{$data.article_author}" >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>文章内容</label>
                <div class="layui-input-block">
                    <textarea name="article_content"   autocomplete="off" class="layui-textarea" id="article_content" >{$data.article_content}</textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">是否发布</label>
                <div class="layui-input-inline">
                    <input type="radio" name="article_status" value="1" title="是" {if condition="$data.article_status eq 1" }checked{/if}>
                    <input type="radio" name="article_status" value="0" title="否" {if condition="$data.article_status eq 0" }checked{/if}>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                </label>
                <button  class="layui-btn" lay-filter="edit" lay-submit="">
                    保存
                </button>
            </div>
        </div>
    </div>
    <script>
      layui.use(['form','layer'], function(){
          $ = layui.jquery;
        var form = layui.form
        ,layer = layui.layer;


        //监听提交
        form.on('submit(edit)', function(data){

          $.post('/admin.php/article/articleEdit',data.field,function (e) {
              if(e.code==1){
                  //发异步，把数据提交给php000
                  layer.alert(e.msg, {icon: 6},function () {
                      // 获得frame索引
                      var index = parent.layer.getFrameIndex(window.name);
                      //关闭当前frame
                      parent.layer.close(index);
                  });
              }else{
                  layer.msg(e.msg);
              }
          });

          return false;
        });


      });
      layui.use('layedit', function(){
          var layedit = layui.layedit
              ,$ = layui.jquery;

          layedit.set({
              uploadImage: {
                  url: '/admin.php/article/uploadImage' //接口url
                  , type: 'post' //默认post
              }
          });

          //构建一个默认的编辑器
          var index = layedit.build('article_content');

        //将编辑器的值赋予teaxt
          $('.layui-btn').on('click', function(){
              $("#article_content").text(layedit.getContent(index));
          });


      });



  </script>

  </body>

</html>