{include file="template/iframe_header" /}
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input type="text" name="article_name"  placeholder="请输入文章名称" autocomplete="off" value="{$res.article_name}" class="layui-input">
            <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <xblock>
        <!--<button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>-->
        <button class="layui-btn" onclick='x_admin_show("添加文章","{:url(\'article/articleAdd'\)}")'><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：{$num} 条</span>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>文章名</th>
            <th>文章作者</th>
            <th>发布时间</th>
            <th>发布状态</th>
            <th>操作</th></tr>
        </thead>
        <tbody>

        {volist name='$data' id='vo' }
        <tr>
            <td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$vo.article_id}'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>{$vo.article_id}</td>
            <td>{$vo.article_name}</td>
            <td>{$vo.article_author}</td>
            <td>{$vo.add_time}</td>
            <td class="td-status">
                {if condition="$vo.article_status==1"}
                <button class="layui-btn layui-btn-xs">已发布</button>
                {else /}
                <button class="layui-btn layui-btn-primary layui-btn-xs">未发布</button>
                {/if}
            </td>
            <td class="td-manage">

                <a title="编辑"  onclick="x_admin_show('编辑','{:url(\'article/articleEdit'\,[\'article_id'\=>$vo.article_id])}')" href="javascript:;">
                    <i class="layui-icon">&#xe642;</i>
                </a>

                <a title="删除" onclick="member_del(this,'{$vo.article_id}')" href="javascript:;">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
{/volist}
        </tbody>
    </table>



    <div class="page">
        <div>
            {$data->render()}
        </div>
    </div>

</div>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });



    /*用户-删除*/
    function member_del(obj,article_id){
        layer.confirm('确认要删除吗？',function(index){

            $.post('/admin.php/article/articleDelete',{article_id:article_id},function (e) {
                if(e.code==1) {
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                }else{
                    layer.msg('删除失败!',{icon:2,time:1000});
                }
            });


        });
    }



    function delAll (argument) {

        var data = tableCheck.getData();

        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
    }
    

    
</script>

</body>

</html>