{include file="template/iframe_header" /}
<div class="x-body">
    <div class="layui-row">

    </div>
    <xblock>
        <button class="layui-btn" onclick='x_admin_show("添加分类","{:url(\'type/add'\)}")'><i class="layui-icon"></i>添加</button>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>分类名称</th>
            <th>分类小说数</th>
            <th>操作</th>
        </thead>
        <tbody>

        {volist name='$data' id='vo' }
        <tr>
            <td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$vo.type_id}'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>{$vo.type_id}</td>
            <td class="type_name"><input type="text" name="type_name" type_id="{$vo.type_id}" value="{$vo.type_name}"  class="layui-input"></td>
            <td>共{$vo.num}本</td>

            <td class="td-manage">

                <a title="删除" onclick="member_del(this,'{$vo.type_id}')" href="javascript:;">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
{/volist}
        </tbody>
    </table>




</div>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });



    /*用户-删除*/
    function member_del(obj,type_id){
        layer.confirm('确认要删除吗？',function(index){

            $.post('delete',{type_id:type_id},function (e) {
                if(e.code==1) {
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                }else{
                    layer.msg('删除失败!',{icon:2,time:1000});
                }
            });


        });
    }




    $('input[name="type_name"]').change(function() {
        var type_name = $(this).val();
        var type_id = $(this).attr('type_id');
        $.post('edit',{type_id:type_id,type_name:type_name},function (e) {
            layer.msg(e.msg);
        });
    })
    

    
</script>

</body>

</html>