{include file="template/iframe_header" /}

    <div class="x-body">
        <form class="layui-form">
            <input type="hidden" name="user_id" value="{$user_id}">

          <div class="layui-form-item">
              <label for="L_username" class="layui-form-label">
                  <span class="x-red">*</span>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码
              </label>
              <div class="layui-input-inline">
                  <input type="password" id="L_password" placeholder="密码"  name="user_password" required="" lay-verify="pwd"  autocomplete="off" class="layui-input" value="{$user_password}" >

              </div>

          </div>
          <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">
                  <span class="x-red">*</span>确认密码
              </label>
              <div class="layui-input-inline">
                  <input type="password" id="L_confirm"  placeholder="确认密码" name="confirm_password" required=""  lay-verify="cpwd" autocomplete="off" class="layui-input" value="{$confirm_password}">
              </div>
          </div>

          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  保存
              </button>
          </div>
      </form>
    </div>
    <script>
      layui.use(['form','layer'], function(){
          $ = layui.jquery;
        var form = layui.form
        ,layer = layui.layer;

          //自定义验证规则
          form.verify({
              pwd: function (value) {
                  if (value.length < 1) {
                      return '密码不能为空';
                  }
              },
              cpwd: function (value) {
                  if (value.length < 1) {
                      return '确认密码不能为空';
                  }
              }
          });
        //监听提交
        form.on('submit(add)', function(data){
          console.log(form);

          $.post('/admin.php/user/userPwd',data.field,function (e) {
              if(e.code==1){
                  //发异步，把数据提交给php000
                  layer.alert("编辑成功", {icon: 6},function () {
                      // 获得frame索引
                      var index = parent.layer.getFrameIndex(window.name);
                      //关闭当前frame
                      parent.layer.close(index);
                  });
              }else{
                  layer.msg(e.msg);
              }
          });

          return false;
        });
        
        
      });




  </script>

  </body>

</html>